VITE_SUPABASE_URL=https://ptkrnyzqwlrbagpmrsye.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0a3JueXpxd2xyYmFncG1yc3llIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNTU0NDgsImV4cCI6MjA5MzkzMTQ0OH0.tMbs227FxVqv2WlsTKvuYUJYe7gkLlTukaO8uHkH3_8
